fastapi==0.115.8
requests>=2.32.2
opencv-python==4.7.0.72
numpy==1.24.1
torch==2.6.0
uvicorn==0.23.2
vosk==0.3.30
torchaudio==2.6.0
pydub==0.25.1
pydantic>=2.10.6
pandas>=2.2.3
pillow>=11.1.0
transformers>=4.49.0
demucs>=4.0.1
diffq>=0.0.1
gitpython>=3.1.30
setuptools>=70.0.0
pyttsx3>=2.98.0
dotenv>=0.9.9
doctr>=1.9.0
python-doctr[torch]