<aside class="col-md-2 bg-light p-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">
                <i class="fa fa-home me-2"></i> Home
            </a>
            
        <li class="nav-item">
            <a class="nav-link active" href="/image-to-json">
                <i class="fa fa-image me-2"></i> Imagem to JSON
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/text-to-feelings">
                <i class="fa fa-microphone-alt me-2"></i> Audio to Text
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/text-to-audio">
                <i class="fa fa-volume-up me-2"></i> Text to Audio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/image-to-text">
                <i class="fa fa-font me-2"></i> Imagem to Text
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/voices">
                <i class="fa fa-list me-2"></i> List Voices
            </a>
        </li>
    </ul>
</aside>
